{{>menu}}
<h1>Mi carrito</h1>
<a href="/">Volver</a>
<br>

<h3 id="h3Usuario" data-cart="{{cart._id}}">Carrito de {{user.email}}</h3>
<ul>
  {{#each cart.products}}
  <li>
    {{product.title}} - cantidad: {{quantity}} - precio: {{product.price}}
  </li>
  {{/each}}
</ul>
<br>
<a href="/">Seguir comprando</a>
<br>

<a href="/api/carts/purchase/{{cart._id}}">Finalizar compra</a>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>