{{>menu}}
<hr>

<h3 data-cart="{{user.cart}}" id="h3User">Usuario conectado: {{user.email}}</h3>
<input type="text" id="cart" value="{{user.cart}}" hidden>
<div class="productList">
    <ul class="container-cards">
        {{#each products}}
        <div class="product-card">
            <li>
                <h2 class="product-name">{{this.title}}</h2>
                <p class="product-price">${{this.price}} </p>
                <button onclick="agregar('{{_id}}')">Add to cart</button>
            </li>
            
        </div>
        {{/each}}
    </ul>
</div>
<a href="/api/carts/{{user.cart}}">Ver Carrito</a>

<a href="/?page=1">P치g.1</a>

{{#if hasPrevPage}}
<a href="/?page={{prevPage}}">P치g.Anterior</a>
{{/if}}

{{#if hasNextPage}}
<a href="/?page={{nextPage}}">P치g.Siguiente</a>
{{/if}}

{{#if hasNextPage}}
<a href="/?page={{totalPages}}">Ult.p치gina</a>
{{/if}}
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/home.js"></script>