<h2>¡Bienvenido {{user.first_name}} {{user.last_name}}!</h2>

<h1>Listado de productos: </h1>

{{>menu}}
<hr>

<div class="productList">
    <h3 data-cart="{{user.cart}}" id="h3User">Usuario conectado: {{user.email}}</h3>
    <input type="text" id="cart" value="{{user.cart}}" hidden>
    
    <ul>
        {{#each products}}
            <div class="product-card">
                <li>
                    <h2 class="product-name">{{this.title}}</h2>  
                </li>  
                <li>
                    <p class="product-price">${{this.price}} </p>  
                </li>    
                <button onclick="addToCart('{{_id}}')" class="add-to-cart">Agregar al carrito</button>
            </div>
        {{/each}}
    </ul>
    
    <a href="/api/carts/{{user.cart}}">Ver Carrito</a>

    <a href="/?page=1">Pág.1</a>

    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}">Pág.Anterior</a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}">Pág.Siguiente</a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/?page={{totalPages}}">Ult.página</a>
    {{/if}}
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/home.js"></script>