{{>menu}}
<hr>
<br>
<h3 data-cart="{{user.cart}}" id="h3User">Usuario conectado: {{user.email}}</h3>
<a href="/checkout">Ver Carrito</a>
<br>
{{!-- 
//<input type="text" id="cart" value="{{req.user.carts}}" hidden> --}}

<div class="productList">
    <ul>
    {{#each products}}
        <li>
            {{title}} - precio: {{price}} <button onclick="agregar('{{_id}}')">Agregar a carrito</button>
        </li>
    {{/each}}
</ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/home.js"></script>