{{>menu}}
<br>
<h2>Perfil {{user.email}}</h2>
<br>
<hr>
<br>
<p>Nombre: <strong>{{user.first_name}}</strong></p>
<p>Correo electrónico: <strong>{{user.email}}</strong></p>
<p>Rol: <strong>{{user.role}}</strong></p>
<p>Id de carrito: <strong>{{user.cart}}</strong></p>
<br>

<a href="/api/sessions/logout"><strong>Cerrar sesión</strong></a>